.container {
    padding: 0px;
}

.row {
    margin: 0px;
}

.scrollable {
    height: 400px;
    overflow-y: scroll;
}

button {
    margin: 2px;
}

.result {
    /*             max-width: 600px; */
}

.fs-dir {
    font-weight: bold;
}

.file,
.goto-doc,
.goto-doc-otherview {
    cursor: pointer;
    color: #1976d2;
}

.action, .link {
    cursor: pointer;
}

.annotation-class {
    cursor: pointer;
}

.match,
.highlight {
    background-color: yellow;
}

.pre-wrap {
    white-space: pre-wrap;
}

.selected {
    background-color: #dfedf7;
}

.hidden {
    display: none;
}

.latest-action {
    text-decoration: underline;
}

.line-height-min {
    line-height: normal;
}

.multipurpose-text,
.search-settings {
    font-size: 80%;
}

.action:hover {
    cursor: pointer;
}

.blue-text {
    color: #1976d2;
    font-weight: bold;
}

.fs-contents {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.breadcrumb {
    background-color: beige;
    padding: 0;
    margin: 2px;
}

.fs-item {
    word-wrap: break-word;
    padding-left: 10px ;
    text-indent: -10px ;
}

.fs-item:hover {
    text-decoration: underline;
}

.fs-item.fs-selected {
    background-color: #8cb4dc9f;
}

.fs-target {
    background-color: #dfedf7;
}

.contents input[type=text],
.contents textarea {
    min-width: 400px;
}

.contents textarea {
    min-height: 80px;
    font-size: 80%;
}

/* .contents.Edit_action textarea.json, .contents.New_action textarea.json */
textarea.json  {
    min-height: 300px;
    font-size: 80%;
}

.action-output {
    font-family: monospace;
    font-size: 10pt;
    max-width: 400px;
    overflow-x: scroll;
}
.action-output pre {
    width: 1000px;
}

.file-content {
    border: solid 1px rgb(95, 128, 168);
    white-space: pre;
    font-family: monospace;
    font-size: 10pt;
    max-width: 500px;
    max-height: 400px;
    overflow-x: scroll;
    padding: 5px;
}

/* white-space: pre-wrap; */
.form-entry { margin-bottom: 10px; }
form button {
    min-width: 200px;
}

form .label-etc {
    min-width: 200px;
}

form label {
    display: inline;
}

form label.problem {
    color: red;
    font-weight: bold;
}

.subform { padding-left: 10px; border-left: solid 1px rgb(0, 187, 255); }

button.jupyter-button {
    display: none;
}

button.close {
    color: #1976d2;
}