<html>

<head>
    {% block head %}
    <link rel="stylesheet"
        href="{{root_url}}/files/{{notebookdir_rel}}/app/web/ext/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{root_url}}/files/{{notebookdir_rel}}/app/web/main.css" />
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="container main-app {{ view }}" data-view="{{ view }}" id="{{ view }}">
        <script type="text/javascript">
            (() => {
                let viewId = "{{ view }}";
                try {
                    fs(viewId);
                } catch (error) {
                    console.log(error);
                }
                console.log(viewId);
            })();
        </script>
    </div>
    {% endblock body %}
</body>

</html>