<html>

<head>
    {% block head %}
    <link rel="stylesheet"
        href="{{root_url}}/files/{{notebookdir_rel}}/app/web/ext/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{root_url}}/files/{{notebookdir_rel}}/app/web/main.css" />
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="container main-app {{ view }}" data-view="{{ view }}" id="{{ view }}">
        <div class="row">
            <div class="col col-4 fs-browser">
                <span class="action onclick close" data-action="toggleFileBrowser" title="Close file browser"><img
                        src="{{root_url}}/files/{{notebookdir_rel}}/app/web/img/x-square-fill.svg" alt="Close" width="16"
                        height="16" /> </span>
                <div class="fs-contents">Please run the previous cell again</div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-sm"><img
                        src="{{root_url}}/files/{{notebookdir_rel}}/app/web/img/folder.svg" alt="Show/hide file browser"
                        title="Show/hide file browser" width="16" height="16" class="action onclick"
                        data-action="toggleFileBrowser" /></button>
                <button type="button" class="btn btn-outline-primary btn-sm"><img
                    src="{{root_url}}/files/{{notebookdir_rel}}/app/web/img/house.svg" alt="Go to start view"
                    title="Go to start view" width="16" height="16" class="action onclick"
                    data-action="goToStartView" /></button>
                <span class="action onclick blue-text" data-action="goToStartdir">Startdir</span>
                <span class="fileLinkWrapper link blue-text" title="View file selected in the file browser"></span>
                <div class="contents">
                    <div class="goto-formpath hidden">
                        {% for part in form_path %}<span>{{ part }}</span>{% endfor %}
                    </div>
                    {% if action_messages %}
                    <div class="action-messages alert alert-warning" role="alert">{{ action_messages | safe }}</div>
                    {% endif %}
                    {% if action_output_html %}
                    <div class="action-output">{{ action_output_html | safe }}</div>
                    {% endif %}
                    {% if action_output %}
                    <div class="action-output"><pre>{{ action_output }}</pre></div>
                    {% endif %}
                    {% if action_messages or action_output or action_output_html %}
                    <hr />
                    {% endif %}
                    <div class="info-top">{{ info_top|safe }}</div>
                    <form>
                    {% for entry in form %}
                        {{ entry|form_entry|safe }}
                    {% endfor %}
                    </form>
                    <div class="info-bottom">{{ info_bottom|safe }}</div>
                </div>
            </div>
        </div>
        <script type="text/javascript"
            src="{{root_url}}/files/{{notebookdir_rel}}/app/web/ext/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="{{root_url}}/files/{{notebookdir_rel}}/app/web/fs.js"></script>
        <script type="text/javascript">
            (() => {
                let viewId = "{{ view }}";
                try {
                    fs(viewId);
                } catch (error) {
                    console.log(error);
                }
                console.log(viewId);
            })();
        </script>
        {% endblock body %}
</body>

</html>